<%= form_for :task, url: tasks_path do |f| %>
    <p>
      <%= f.label :task %>
      <%= f.text_field :task %>
    </p>

    <p>
      <%= f.label :complete %>
      <!--<%= f.text_area :text %>-->
      <%= f.check_box :complete %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>