<%= form_for :task, url: tasks_path do |f| %>
    <p>
      <%= f.label :task %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :complete %>
      <%= f.check_box :complete %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', tasks_path %>