<h1>Task#post,</h1>

<%= form_for :task do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :complete %><br>
      <%= f.check_box :complete %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>